AZURE_OPENAI_API_EMBEDDINGS_KEY=
AZURE_OPENAI_EMBEDDINGS_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT =
AZURE_OPENAI_ENDPOINT = 
AZURE_OPENAI_API_KEY =
PGVECTOR_CONNECTION_STRING=
PGVECTOR_COLLECTION_NAME=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
GEMINI_API_KEY=
